.row
  .col-md-6
    %h2= @workout.date.strftime("%A %B %d - %H:%M:%S")
    %h3
      Bodypart(s):
      = @workout.workout
    %h3
      My mood:
      = @workout.mood
    %h3
      Length:
      = @workout.length

  .col-md-6
    %h2 Exercises
    = render @workout.exercises

%h3 Add an exercise
= render 'exercises/form'

%br

= link_to "Back", root_path
|
= link_to "Edit", edit_workout_path(@workout)
|
= link_to "Delete", workout_path(@workout), method: :delete, data: { confirm: "Are you sure?" }

